<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="head">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link th:href="@{/style.css}"href="/style.css" rel="stylesheet" />
    </div>

    <nav th:fragment="nav">
        <a href="/">Home</a>
        <a href="/signup">Sign Up</a>
    </nav>
</body>
</html>