<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up to Code Fellowship</title>
</head>
<body>
    <h1>Code Fellowship</h1>
    <p>Sign up to create an account.</p>

    <form action="/newUser" method="POST">
        <label for="firstName">First Name</label>
        <input type="text" name="firstName" id="firstName"/>

        <label for="lastName">Last Name</label>
        <input type="text" name="lastName" id="lastName" />

        <label for="dateOfBirth">Date of Birth</label>
        <input type="text" name="dateOfBirth" id="dateOfBirth" />

        <label for="bio">Your Bio</label>
        <input type="text" name="bio" id="bio" />

        <label for="username">Username</label>
        <input type="text" name="username" id="username" />

        <label for="password">Password</label>
        <input type="password" name="password" id="password" />

        <input type="submit" />
    </form>


</body>
</html>