<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign Up to Code Fellowship</title>
    <div th:replace="~{common :: head}"></div>
</head>
<nav>
    <div th:replace="common :: nav"></div>
</nav>
<body>
    <h1>Code Fellowship</h1>
    <p>Sign up to create an account.</p>

    <form action="/users/newuser" method="POST">
        <label for="firstName">First Name</label>
        <input type="text" name="firstName" id="firstName"/>

        <label for="lastName">Last Name</label>
        <input type="text" name="lastName" id="lastName" />

        <label for="dateOfBirth">Date of Birth</label>
        <input type="date" name="dateOfBirth" id="dateOfBirth" />

        <label for="bio">Your Bio</label>
        <input type="text" name="bio" id="bio" />

        <label for="username">Username</label>
        <input type="text" name="username" id="username" />

        <label for="password">Password</label>
        <input type="password" name="password" id="password" />

        <input type="submit" />
    </form>


</body>
</html>